html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
    transform: scaleY(0.85);
  }
}
#stage {
  height: 80px;
}
#ball {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: green;
  animation: bounce 0.5s infinite alternate;
}
.pause {
  animation-play-state: paused !important;
}